<!--Heredando del template padre-->
{% extends "core/base.html" %} {% block title %}Blog{% endblock %}
<!--Imagen cabecera-->
{% block background%} {% load static %} {% static 'core/img/ultimos_lanzamientos.jpg'%}{%endblock%}
<!--Titulo y descipcion-->
{% block header%}
{% load static %} 
<h1>Blog</h1>
{%endblock%} 
{% block content %}
<header style="text-align: center;">
    <h1>Blog de la Tienda de Películas</h1>
    <p>Explora nuestras recomendaciones.</p>
</header>

<main style="text-align: center;">
    <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">PELICULAS INFANTILES</h1>
    <article>
        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/19/11/12/12/25/0815514.jpg" alt="Película 1">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/medias/nmedia/18/68/23/11/20027493.jpg" alt="Película 2">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/17/06/09/13/42/187933.jpg" alt="Película 3">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/19/06/04/09/41/5108791.jpg" alt="Película 4">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img2.acsta.net/c_310_420/medias/nmedia/18/68/23/74/20299688.jpg" alt="Película 5">
    </article>
    <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">PELICULAS DE ACCIÓN</h1>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/18/10/31/17/44/5885767.jpg" alt="Película 6">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/medias/nmedia/18/79/16/35/20148228.jpg" alt="Película 7">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/14/06/17/13/28/048245.jpg" alt="Película 8">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img2.acsta.net/c_310_420/pictures/23/03/15/17/30/1522817.jpg" alt="Película 9">
    </article>
    <article style="text-align: center;">
        <img src="https://es.web.img2.acsta.net/c_310_420/medias/nmedia/18/85/53/36/19820768.jpg" alt="Película 10">
    </article>
    <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">PELICULAS DE TERROR</h1>
    <article style="text-align: center;">
        <img src="https://es.web.img3.acsta.net/c_310_420/pictures/18/07/30/19/02/3253561.jpg" alt="Película 11">
    </article>
    <!-- Agrega más artículos según sea necesario -->

</main>
{% endblock  %}